.comic {
  width: 350px;
  height: 500px;

}

body {
background-color: #F2DB9E;
background-image: url("../img/Background-9.png")
}
.jumbotron {
  background-color: #F2DB9E;
  background-attachment: fixed;
  background-image: url("../img/dailyprophet.jpg");
  padding-top: 250px;
  padding-bottom: 420px;





}

.col-md-4 {
  background-color: #E9DDBB;
  border-style: double;
  border-color: #644F11;
  margin: 0px;

}

@font-face {
  font-family: muggleNews;
  src: url("../fonts/mugglenews.ttf");
  font-weight: 400;
}
@font-face {
  font-family: headoh;
  src: url("../fonts/headof.TTF");
}
@font-face {
  font-family: headth;
  src: url("../fonts/HEADTH_.TTF");
}
@font-face {
  font-family: harryP;
  src: url("../fonts/HARRYP.TTF");

}
@font-face {
  font-family: valeria;
  src: url("../fonts/ValeriaBoldGrunge.ttf");
}
h2 {
  font-family: "headoh", Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 1px;
}

 h1 {
  font-family: "valeria", Arial, sans-serif;
  font-size: 60px;
  border-style: double;
  font-stretch: expanded;
  background-color: #E9DDBB;
  text-align: center;
  background-image: url("../img/lights.jpg");
  color: #faf8f1;
  text-shadow: 5px 5px #2E2C25;
  padding: 50px;

}
.navbar-brand {
  font-family: "blackcastle", sans-serif;
  text-shadow: 2px 2px brown;
  font-size: 20px;
}

/* sub-footer {
  background-image: url("../img/Ministry.jpg");
  background-size: 100%;
  margin-top: 200px;
  padding: 300px;
  color: #faf8f1; */

.logo {
  padding-top: 30px;
}
.advertise{
  margin-left: 55px;
}
.zoom {

    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.8); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 1000;
    position: relative;
}

.Ad {
  height: 220px;
  display: inline-block;
  margin: 5px 3px 50px 3px;
  border: double;
  padding: 3px;
  background-image: url("../img/blkbackground.jpg");

  /* z-index: 1000;
  position: relative; */

}
.wallaby {
  background-image: url("https://media.giphy.com/media/miERjhjUZuYwM/giphy.gif");
  width: 150px;
  height: 150px;
}
@font-face {
  font-family: blackcastle;
  src: url("../fonts/BlackCastleMF.ttf");
}
@font-face {
  font-family: Augusta;
  src: url("../fonts/Augusta.ttf");
}
p {
  font-family: "muggleNews";
  font-size: 15px;
}
iframe {
  overflow: hidden!important;
}



.thumb {
  overflow: auto;
  padding:15px;
  width: 150px;
  height: 150px;
  border: double;
  float: right;
  background-image: url("../img/blkbackground.jpg");

}

.tesla {
  float: right;
  width: 350px;
  border: double;
  padding: 10px;
  margin: 15px;
}
.crups {
  float: right;
  width: 250px;
  display: inline;
  border: double;
  padding: 10px;
  margin: 15px;
}
.author {
  font-family: cursive;
  font-size: 14px;
  display: inline-block;
}

li {
  display: inline-block;

}

a.anchor{
  display: block;
  position: relative;
  top: -400px;
  visibility: hidden;
}
#hideMe{
  width:76px;
  height: 34px;
}

#newsPaper{
  display:none;
}
#all_done{
  display:none;
  width: 677px;
  height: 847px;
  margin: 40px 300px 500px 600px;

  background-color: black;
}
#white{
  display:none;
  width:1904px;
}
.cover_page{
  width: 1700px;
  margin:10px 110px;
}
